* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
  line-height: 1.6;
  background-image: url(3392075.jpg);
}

header {
    color: #ffffff;
    background: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif    ;
    width: 100%;
    padding-left: 50px;
   
}

header h1 {
    margin: 2;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color:#ffffff;
    text-decoration: none;
    cursor: pointer;
}

section {
    padding: 20px;
    margin: 20px 0;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#about, #projects, #contact {
    background-color:#000000;
    
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
}

.project {
    margin: 15px 0;
}

footer {
    background: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 20px;
}

button {
    background-color: #2b2b2b;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #555555;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
